/* Cart */
.awt-cart {
  position: fixed;
  z-index: 100;
  top: 90px;
  right: 40px;
  list-style: none;
  padding: 0 5px;
}

.awt-cart .dropdown-menu {
  left: auto;
  right: 0;
  top: 0;
  width: 28em;
}

.btn-cart > .badge {
  position: absolute;
  font-size: 10px;
  top: 10px;
  right: 10px;
}

/* Navbar */
@media (max-width: 768px) {
  .header-fixed #header {
    position: fixed;
  }
  .headerbar-left {
    background: transparent;
    border: 0;
  }
}

#home-slider {
  z-index: 10;
  button:hover, button:focus {
    color: #fff;
  }
  .slick-carousel-item {
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
  }
  .overlay {
    bottom: 0;
    position: relative;
    height: 100%;
    padding: 100px 40px;
    p {
      max-width: 480px;
    }
  }
}

.slick-prev, .slick-next {
  position: absolute;
  top: 50%;
  z-index: 10;
  margin-top: -10px;
}

.slick-next {
  right: 25px;
}

.slick-prev {
  left: 25px;
}

/* Customer Panel */
.sub-card > .card-body, .sub-card.tabs-left .nav-tabs {
  min-height: 42.846em;
}

.sub-card {
  margin: 0;
  background: #f2f2f3;
}

.sub-card .text-caption {
  margin: 0;
}

.sub-card > .card-body {
  background: white;
}

.no-border {
  border: 0 !important;
}

.no-shadow {
  box-shadow: 0;
}

/* ribbon css */
.ribbon {
  position: absolute;
  left: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
}

.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#E91E63 0%, #FF2E9D 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  left: -21px;
}

.ribbon span::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #FF2E9D;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #FF2E9D;
}

.ribbon span::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #FF2E9D;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #FF2E9D;
}

.btn-custom-price {
  transition: all 0.5s;
  box-shadow: -3px 3px 5px 0px rgba(22, 83, 135, 0.34);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  z-index: 2;
  margin-top: 70px;
}

.btn-custom-price.static {
  position: absolute;
  right: -15px;
}

.btn-custom-price:after {
  content: '';
  height: 0px;
  width: 0px;
  position: absolute;
  background: transparent;
  border-bottom: 10px solid #21496D;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  transform: rotate(-45deg);
  right: -0px;
  bottom: -8px;
}

.card-body.tab-content {
  overflow: hidden;
}

.btn-tile {
  width: 100px;
  height: 100px;
  margin: 5px;
}

.modal-backdrop {
  z-index: 20;
}

.client-section{
  img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    &:hover {
      filter: grayscale(0%);
      -webkit-filter: grayscale(0%);
      -o-filter: grayscale(0%);
    }
  }
}